.submit-row a:hover{
    text-decoration: none;
}

.submit-row a.editlink {
    display: inline-block;
    float: right;
    margin: 0 0 0 8px;
    padding: 10px 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 4px;
    color: #fff;
    background: #417690;
    cursor: pointer;
}

.submit-row a.cancellink {
    display: inline-block;
    padding: 10px 15px;
    height: 15px;
    line-height: 15px;
    border-radius: 4px;
    color: #fff;
    background: #bbbbbb;
    cursor: pointer;
}
