.hide {
  display: none;
}

.wraptext {
  display: block;
  white-space: normal !important;
  padding: 5px;
}

div#launcher_notification {
  padding: 10px;
  margin: 10px 0;
  display: block;
}

div#launcher_notification.hide {
  visibility: hidden;
}

div#launcher_notification p {
  margin-bottom: 0;
}

#launcher_submit {
  padding: 10px;
}

#launcher_submit:disabled, #launcher_submit[disabled] {
  color: rgba(0, 0, 0, 0.8);
}
