body.frontpage {

    background-image: url(/static/app/image/banner/payment-gateway-bg-1.png);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-size: 14px;
    line-height: 18px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.white-bg{
    background-color: #FFFFFF;
}
.small-padding-top{
    padding-top: 10px;
}
.small-padding-bottom{
    padding-bottom: 10px;
}
.medium-padding-bottom{
    padding-bottom: 20px;
}
.small-margin-top{
    margin-top: 10px;
}
.small-margin-left{
    margin-left: 10px;
}
.small-margin-right{
    margin-right: 10px;
}
.medium-margin-top{
    margin-top: 20px;
}
.medium-margin-bottom{
    margin-bottom: 20px;
}
.medium-padding-top{
    padding-top: 20px;
}

a.no-decoration:hover{
    text-decoration: none;
}

.small-font{
    font-size: 10pt;
}

.medium-font{
    font-size: 20pt;
}

.large-font{
    font-size: 30pt;
}

.txt-white {
    color: #ffffff !important;
}

.header {
    background: none repeat scroll 0% 0% #000000;
    padding: 0px 0px 0px 0px !important;
    color: #FFFFFF;
}

.form-login input, .form-login label, .btn-logout, .btn-login {
    background: transparent;
    border: 1px solid white;
    color: #FFF !important;
}

.container input, .frontpage span, .container.content .btn-default {
    outline: none !important;
}

.form-control {
    font-weight: bold;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.center{
    margin-left:auto !important;
    margin-right:auto !important;
}

/*--------------------------------
Icon Styling
----------------------------------*/
.icon-nav{
    height: 21px;
    width: 21px;
}
.icon-email-white {
    background: url("/static/app/image/icon/icon-email-white.png") no-repeat 5px center !important;
}
.icon-password-white {
    background: url("/static/app/image/icon/icon-password-white.png") no-repeat 5px center !important;
}
.icon-nav-search {
    background: url(/static/app/img/icon/icon-nav-search.png) no-repeat left center;

}
.icon-nav-notify {
    background: url(/static/app/img/icon/icon-nav-notify.png) no-repeat left center;
}

.input-gsd-h {
    border-radius: 6px !important;
    padding-left: 40px !important;
    background-color: #444444 !important;
    color: #FFFFFF !important;
}

#option-login {
    line-height: 14px !important;
}

.noright {
    padding-right: 0;
}

.noleft {
    padding-left: 0;
}

.navigation a{
    color: #000000;
}

.navigation-bar{
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #eee;
    background-color: #FFFFFF;
    margin-left: 0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

.navigation .navbar-nav {
    margin: 0 auto;
    /*display: table;*/
    table-layout: auto;
    /*float: none;*/
    width: 100%;
}

.navigation .navbar-nav > li {
    display: table-cell;
    float: none;
    text-align: center;
    min-width: 175px;
}

.navigation .nav>li.active {
    text-decoration: none;
    background-color: #eee;
}

.white-panel {
    background: #ffffff;
    /* opacity: 0.93; */
    border-radius: 5px;
    min-height: 200px !important;
	
}

.grey-panel {
    background: grey;
    /* opacity: 0.93; */
    border-radius: 5px;
    min-height: 200px !important;
	
}

.white-panel.opacity {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}

.solid-line {
    border: 1px solid #000000 !important;
}

.solid-line-grey {
    border: 1px solid rgb(228, 228, 228) !important;
}

.form-container {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    /* opacity: 0.93; */
    border-radius: 5px;
    min-height: 100px !important;
}
.form-container.opacity {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
    -moz-opacity: 0.95;
    -khtml-opacity: 0.95;
    opacity: 0.95;
}
.form-container.col-xs-12.main-search.opacity {
    background: #fefdfe;
}
.main-search .form-head {
    margin-bottom: 5px;
}

/*------------------------ Start: Override Bootstrap Stying ------------------------*/
.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.text-error{
	margin-top: 5px;
	margin-bottom: 5px;
	color: #b94a48 !important;
	font-weight: bold !important;
}

.toast[data-type] .toast-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


/*------------------------ End: Override Bootstrap Stying ------------------------*/

/*------------------------ Start: Jquery Validator Styling ------------------------*/
.help-block.error{
	color: #f00;
	margin-top: 5px;
	margin-left: 5px;
}

/*------------------------ End: Jquery Validator Styling ------------------------*/

/*------------------------ Start: Alert Message Stying ------------------------*/

.alert-message
{
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}
.alert-message h4
{
    margin-top: 0;
    margin-bottom: 5px;
}
.alert-message p:last-child
{
    margin-bottom: 0;
}
.alert-message code
{
    background-color: #fff;
    border-radius: 3px;
}
.alert-message-success
{
    background-color: #F4FDF0;
    border-color: #3C763D;
}
.alert-message-success h4
{
    color: #3C763D;
}
.alert-message-danger
{
    background-color: #fdf7f7;
    border-color: #d9534f;
}
.alert-message-danger h4
{
    color: #d9534f;
}
.alert-message-warning
{
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}
.alert-message-warning h4
{
    color: #f0ad4e;
}
.alert-message-info
{
    background-color: #f4f8fa;
    border-color: #5bc0de;
}
.alert-message-info h4
{
    color: #5bc0de;
}
.alert-message-default
{
    background-color: #EEE;
    border-color: #B4B4B4;
}
.alert-message-default h4
{
    color: #000;
}
.alert-message-notice
{
    background-color: #FCFCDD;
    border-color: #BDBD89;
}
.alert-message-notice h4
{
    color: #444;
}

.notify-messages li
{
	margin-top: 10px;
}

/*------------------------ End: Alert Message Stying ------------------------*/

/*------------------------ Start: Button Stying ------------------------*/

.btn{
	margin-bottom: 10px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-social {
    position: relative;
    /*padding-left: 44px;*/
	padding-left: 25%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	width: 100% !important;
}

.btn-social:hover {
    color: #eee;
}

.btn-social :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    padding: 7px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,0.2);
}

/*------------------------ End: Button Stying ------------------------*/

/*------------------------ Start: Divider Stying ------------------------*/
hr.dashed {
    border-top: 2px dashed #999;
}

hr.dotted {
    border-top: 2px dotted #999;
}

hr.solid {
    border-top: 2px solid #999;
}


hr.hr-text {
  position: relative;
    border: none;
    height: 1px;
    background: #999;
}

hr.hr-text::before {
    content: attr(data-content);
    display: inline-block;
    background: #fff;
    font-weight: bold;
    font-size: 0.85rem;
    color: #999;
    border-radius: 30rem;
    padding: 0.2rem 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------ End: Divider Stying ------------------------*/

/*------------------------ Start: Breadcrumb Stying ------------------------*/

/* Caret Breadcrumb */
.breadcrumb-caret .breadcrumb-item+.breadcrumb-item::before {
  content: '\f0da' !important;
  font-family: 'FontAwesome';
}

/* Bullet */
.breadcrumb-bullet .breadcrumb-item+.breadcrumb-item::before {
  content: '•';
}

/* Arrow Breadcrumb */
.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item::before {
  content: '';
}

.breadcrumb-arrow {
  height: 40px;
  line-height: 40px;
}

.breadcrumb-arrow .breadcrumb-item:first-child a {
  border-radius: 4px 0 0 4px;
}

.breadcrumb-arrow .breadcrumb-item,
.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item span {
  display: inline-block;
  vertical-align: top;
}

.breadcrumb-arrow .breadcrumb-item:not(:first-child) {
  margin-left: -1px;
}

.breadcrumb-arrow .breadcrumb-item+.breadcrumb-item:before {
  padding: 0;
  content: "";
}

.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item.active {
  height: 40px;
  padding: 0 10px 0 25px;
  line-height: 40px;
}

.breadcrumb-arrow .breadcrumb-item a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #3bafda;
  border: 1px solid #3bafda;
}

.breadcrumb-arrow .breadcrumb-item a:after,
.breadcrumb-arrow .breadcrumb-item a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: '';
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

.breadcrumb-arrow .breadcrumb-item a:before {
  right: -10px;
  z-index: 3;
  border-left-color: #3bafda;
  border-left-style: solid;
  border-left-width: 11px;
}

.breadcrumb-arrow .breadcrumb-item a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #2494be;
}

.breadcrumb-arrow .breadcrumb-item a:focus,
.breadcrumb-arrow li a:hover {
  background-color: #4fc1e9;
  border: 1px solid #4fc1e9;
}

.breadcrumb-arrow .breadcrumb-item a:focus:before,
.breadcrumb-arrow li a:hover:before {
  border-left-color: #4fc1e9;
}

.breadcrumb-arrow li.active:after,
.breadcrumb-arrow li.active:before {
  border-left-color: #2494be;
}

/*------------------------ End: Breadcrumb Stying ------------------------*/


/*------------------------ Start: Card Stying ------------------------*/

.card-header.original{
	background-color: rgba(0,0,0,.03) !important;
}

/*------------------------ End: Card Stying ------------------------*/

/*------------------------ Start: Switch & Slider Stying ------------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  float:right;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196F3;
}
input.success:checked + .slider {
  background-color: #8bc34a;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #FFC107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.sidebar{
	/*width: 250px !important;*/
	overflow: hidden !important;
}

.sidebar .nav-link.active{
	/* width: 230px !important;*/
	overflow: hidden !important;
}

/*------------------------ End: Switch & Slider Stying ------------------------*/

.long-text-next-line{
	width: 150px;
	height: auto;
	white-space: normal !important;
	/*overflow: hidden !important;*/
}




.treeview > a {  display: table}
.treeview > a > *{  display: table-cell;}

.overlay{
	position	: fixed;
	right		: 0px;
	top			: 0px;
	bottom		: 0px;
	width 		: 100%;
    height 		: 100%;
	display 	: none;
    /*opacity: 0.2;
  	filter: alpha(opacity=20);
  	background-color: #000000;*/
  	background-color: rgba(255,255,255,0.8);
  	z-index: 2;
}

.center-align{
    text-align: center !important;
    vertical-align: middle !important;
    margin: 10px auto;
}

.left-align{
    text-align: left !important;
    vertical-align: middle !important;
}

#common_overlay{
	padding-top: 250px !important;
	color: #555555;
	min-height: 50px;
	height: 100%;
    width: 100%;
    display: contents;
    left: 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

#contact_us_from_landing_page{
	margin-top: -100px;
}

.min-padding{
	padding-top: 200px;
}


.card-header .nav a{
	color: #000 !important;
}

.modal-dialog-full-width {
    width: 90% !important;
    height: 90% !important;
    margin-top: 5% !important;
	margin-left: 5% !important;
    padding: 0 !important;
    max-width:none !important;

}

.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important 
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
	border-top: 1px solid #9ea2a2 !important;
}


