* {
    font-family: monospace;
    font-weight: normal;
    font-size: 12px;
}
body {
    margin-right: 80px;
}
h1, h2 {
    border-bottom: 1px solid gray;
    padding: 8px;
    font-size: 16px;
    font-family: serif;
    background-color: lightGray;
}
h2 {
    margin-left: 40px;
    padding: 4px;
}
p, h3 {
    margin-left: 80px;    
}
table {
    border-collapse: collapse;
    margin-left: 80px;        
}
.dataTables_wrapper {
    margin-left: 80px;
}    
table tbody tr {
    background-color: white;
}
th, td {
    font-size: 0.8em;
    border: 1px solid lightGray;
    padding: 3px;
    text-align: right;
}   
table.narrow {
    width: 50%;
}
#header {
    background-color: lightGray;
    padding: 3px;
    
}
.header_item {
    margin-right: 8px;
}
.section {
    background-color: white;
    border: 1px solid gray;
    padding: 4px;
}
